

<!-- <div class="container"> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><img src="assets/1.png" alt="BrandStore" style="height: 50px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      *ngIf="menuType === 'default' || menuType === 'user'"
      class="nav-search collapse navbar-collapse"
    >
      <form class="d-flex" role="search">
        <input
          class="form-control nav"
          #searchInput
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup)="searchProducts($event)"
          (blur)="hideSearch()"
        />
        <button
          class="btn btn-outline-success ms-1"
          type="submit"
          (click)="submitSeach(searchInput.value)"
        >
          Search
        </button>
        <ul class="suggested-result" *ngIf="searchResult">
          <li *ngFor="let i of searchResult">
            <a (mousedown)="rdirectToDetails(i.id)">{{ i.name }}</a>
          </li>
        </ul>
      </form>
    </div>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngSwitch]="menuType"
    >


    <!-- -------------------default navbar ---------------->
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'default'">
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-auth">Seller</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="user-auth"
              style="font-size: smaller"
              >Login/Sign-up</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user-auth">Card({{ cartItems }})</a>
          </li>
        </ul>
      </div>

    <!-- -------------------user navbar ---------------->


      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'user'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""
              >Home</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="cartItems > 0 ? 'cart-page' : null"
              >Cart({{ cartItems }})</a
            >
          </li>

          <div class="log" routerLink="/my-orders">
            <li>
              <a>{{ userName }}</a>
            </li>
          </div>
          <div class="log">
            <li>
              <a (click)="userLogout()" class="logout">Logout</a>
            </li>
          </div>
        </ul>
      </div>

    <!-- -------------------seller navbar ---------------->


      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'seller'">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="seller-add-product"
              >Add Product</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-home">ProductList</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="">Card</a>
          </li> -->

          <div class="log">
            <li>
              <a (click)="logout()" class="logout">Logout</a>
            </li>
          </div>

          <div class="log">
            <li>
              <a class="log">{{ sellerName | titlecase }}</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- </div> -->
