<div class="cotainer ">
  <h4 style="text-align: center; color: orange" class="mt-5">Add New Product</h4>
  <div class="form-group"  >
    <form 
      #addProduct="ngForm"
      (ngSubmit)="submit(addProduct.value)"
      class="common-form"
    >
      <div class="form-group ">
        <input
          type="text"
          name="name"
          class="form-control mt-2 "
          ngModel
          placeholder="Enter Product Name"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="price"
          class="form-control mt-2"
          ngModel
          placeholder="Enter Product price"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="color"
          class="form-control mt-2"
          ngModel
          placeholder="Enter Product color"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="catagory"
          class="form-control mt-2"
          ngModel
          placeholder="Enter Product catagory"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="description"
          class="form-control mt-2"
          ngModel
          placeholder="Enter Product description"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="image"
          class="form-control mt-2"
          ngModel
          placeholder="Enter Product image"
        />
      </div>

      <button class="btn btn-outline-warning mt-2">Add Product</button>

      <p style="color: green;">{{addProductMessage}}</p>
    </form>

  