<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      
      <img src="./assets/amazon_logo.png" alt="" srcset="" id ="logo" routerLink="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         

          <li class="nav-item">
            <a class="nav-link" routerLink="Product">Product</a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link"routerLink="login">Log In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"routerLink="register">Register</a>
          </li>
           

        </ul>
         <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>

        <img src="./assets/image11.png" alt="" srcset="" id="cart" routerLink="cart">
        <img src="./assets/image12.png" alt="" srcset="" id="logout"  routerLink="" (click)="logout()">
        <!-- <img src="./assets/image.png" alt="" srcset="" id="usert     x" routerLink="cart"> -->

      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>