<div class="cotainer ">
  <h4 style="text-align: center; color: orange" class="mt-5">Update Product</h4>
  <div class="form-group"  >
    <form 
      #addProduct="ngForm"
      (ngSubmit)="submit(addProduct.value)"
      class="common-form"
    >
      <div class="form-group ">
        <input
          type="text"
          name="name"
          class="form-control mt-2 "
          ngModel="{{ productData?.name }}"
          placeholder="Enter Product Name"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="price"
          class="form-control mt-2"
          ngModel="{{ productData?.price }}"
          placeholder="Enter Product price"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="color"
          class="form-control mt-2"
          ngModel="{{ productData?.color }}"
          placeholder="Enter Product color"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="catagory"
          class="form-control mt-2"
          ngModel="{{ productData?.category }}"
          placeholder="Enter Product catagory"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="description"
          class="form-control mt-2"
          ngModel="{{ productData?.description }}"
          placeholder="Enter Product description"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          name="image"
          class="form-control mt-2"
          ngModel="{{ productData?.image }}"
          placeholder="Enter Product image"
        />
      </div>

      <button class="btn btn-outline-warning mt-2">update Product</button>
    </form>

    <!-- <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)"class="common-form">
  <div class="form-group"> -->
    <!-- <input class="form-input"
      type="text" 
      placeholder="Enter Product Name"
      name="name" 
      ngModel="{{productData?.name}}" 
       />

       

       <input class="form-input"
      type="text" 
      placeholder="Enter Product price"
      name="price" 
      ngModel="{{productData?.price}}"  
       />

       <input class="form-input"
      type="text" 
      placeholder="Enter Product color"
      name="color" 
      ngModel ="{{productData?.color}}" 
       />

       <input class="form-input"
      type="text" 
      placeholder="Enter Product catagory"
      name="catagory" 
      ngModel ="{{productData?.catagory}}" 
       />

    
        <textarea
      type="text" 
      class="form-input"
      placeholder="Enter Product description"
      name="description" 
      ngModel ="{{productData?.description}}" 
    ></textarea>

     <input class="form-input"
      type="text" 
      placeholder="Enter Product image URL"
      name="image" 
      ngModel ="{{productData?.image}}" 
       />

    <button class="btn">update Product</button>

<p class="message-p">{{productMessage}}</p>
       
</div>
</form> -->
  </div>
</div>
<!-- bootstrap -->
